<div class="row wt-h-100 align-items-start">
  <article class="col-12 d-flex card-bg">
    <img [src]="item?.image || 'assets/media/food_cap.png'" alt="Collection image" style="width: 300px">
    <section class="ml-4">
      <h1>Name</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </section>
  </article>

  <section class="col-12 carousel-wrapper mt-auto">
    <button mat-mini-fab class="carousel-btn" (click)="carousel.prev()">
      <mat-icon>navigate_before</mat-icon>
    </button>

    <wt-carousel #carousel [display]="5">
      <ng-container *ngFor="let dish of dishes; let i = index">
        <div *wtCarouselItem class="card-bg dish-slide">
          <img *ngIf="dish.image; else cap" [src]="dish.image" alt="">
          <ng-template #cap><mat-icon>photo</mat-icon></ng-template>
          {{dish.name || 'Неизвестно'}}
        </div>
      </ng-container>
    </wt-carousel>

    <button mat-mini-fab class="carousel-btn" (click)="carousel.next()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </section>
</div>
