<div class="d-flex flex-column wt-h-100">
  <div class="actions text-right">
    <button mat-icon-button (click)="view = 'list'" [ngClass]="{'active': isListView}"><mat-icon>list</mat-icon></button>
    <button mat-icon-button (click)="view = 'card'" [ngClass]="{'active': !isListView}"><mat-icon>view_module</mat-icon></button>
  </div>

  <wt-list-view *ngIf="isListView; else cardView" [columns]="viewConfig.columns"></wt-list-view>
  <ng-template #cardView>
    <wt-card-view></wt-card-view>
  </ng-template>

  <mat-paginator
    class="mt-auto"
    [length]="viewConfig.itemsLength$ | async"
    [pageSize]="viewConfig.itemsPerPage || 10"
    [pageSizeOptions]="[5, 10, 25]"
  ></mat-paginator>
</div>
