<mat-toolbar color="primary" class="justify-content-between">
  <button mat-icon-button aria-label="logo" routerLink="/"><img src="assets/food.png" alt=""></button>

  <div class="items">
    <ng-container *ngFor="let item of items$ | async; let i = index">
      <button
        mat-button
        *ngIf="!item.children; else menuBtn"
        [routerLink]="item.url ? [item.url] : []"
      >
        <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
        <span>{{item.title}}</span>
      </button>

      <ng-template #menuBtn>
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
          <span>{{item.title}}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
      </ng-template>

      <mat-menu #menu class="switch-nested-menu-arrows">
        <button mat-menu-item *ngFor="let subItem of item.children" [routerLink]="subItem.url ? [subItem.url]: []">
          <mat-icon>{{subItem.icon}}</mat-icon>
          <span>{{subItem.title}}</span>
        </button>
      </mat-menu>
    </ng-container>

    <button mat-icon-button (click)="setTheme()"><mat-icon>format_color_fill</mat-icon></button>
  </div>
</mat-toolbar>
